body {
  font-family: Roboto, sans-serif;
  font-size: 16px;
}

.wrapper {
  background-color: #deb6c2e4;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  display: flex;
}

.theme-aqua {
  background-color: #678a90;
}

.wrapper__btn {
  justify-content: space-between;
  align-items: center;
  padding: 9px;
  display: flex;
}

.wrapper-inner {
  background-color: #dfc2b1;
  border: 1px solid;
  width: 320px;
  height: 535px;
  margin-right: 30px;
}

.theme-aqua-inner {
  background-color: #86a394;
}

.btn__settings {
  background-color: #c79c80;
  border: 1px solid;
  border-radius: 5px;
  max-height: 32px;
  font-size: 16px;
}

.btn__exit {
  background-color: #c79c80;
  border: 1px solid;
  border-radius: 5px;
  max-width: 98px;
  max-height: 32px;
  padding: 7px 8px;
}

.btn__exit:hover, button:hover {
  box-shadow: 2px 3px 3px #535252;
}

.modal {
  z-index: 99998;
  visibility: hidden;
  background-color: #0009;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  transition: opacity .2s, visibility .2s;
  display: grid;
  position: fixed;
  top: 0;
  left: 0;
}

.modal.open {
  visibility: visible;
  opacity: 1;
}

.modal__box {
  background-color: #fff;
  max-width: 280px;
  min-height: 320px;
  padding: 16px 14px;
}

.modal__box-wrapper {
  justify-content: space-between;
  min-width: 82px;
  min-height: 20px;
  margin-bottom: 16px;
  display: flex;
}

.modal__box-img {
  width: 14px;
  height: 14px;
}

.btn__exit-span {
  color: #000;
  font-size: 16px;
}

.modal__authorization[open] {
  z-index: 99998;
  background-color: #000000b3;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  top: 0;
  left: 0;
}

.modal__authorization-wrapper {
  background-color: #dad2d2;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px 10px;
  display: flex;
}

.modal__authorization-title {
  margin-bottom: 10px;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.modal__authorization-input {
  border: 1px solid;
  min-width: 245px;
  min-height: 32px;
  margin-bottom: 10px;
  margin-right: 10px;
  padding: 6px;
  font-size: 16px;
}

.modal__authorization__get, .modal__authorization__enter {
  min-width: 120px;
  min-height: 34px;
  padding: 7px 8px;
  font-size: 16px;
  font-weight: 600;
}

.modal__confirmation[open] {
  z-index: 99998;
  background-color: #0000001a;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  top: 0;
  left: 0;
}

.modal__confirmation-wrapper {
  background-color: #dad2d2;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 106px 10px;
  display: flex;
}

.modal__confirmation-input {
  border: 1px solid;
  min-width: 245px;
  min-height: 32px;
  margin-bottom: 10px;
  margin-right: 10px;
  padding: 6px;
  font-size: 16px;
}

.modal__confirmation__get, .modal__confirmation__close {
  min-width: 100px;
  min-height: 34px;
  padding: 7px 8px;
  font-size: 16px;
  font-weight: 600;
}

.modal__confirmation-wrapper-btn {
  justify-content: space-around;
  display: flex;
}

.message {
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  flex-direction: column-reverse;
  min-height: 437px;
  margin-bottom: 6px;
  display: flex;
}

.message__list {
  flex-direction: column;
  max-height: 437px;
  padding: 0 6px;
  display: flex;
  overflow-y: auto;
}

.message__list::-webkit-scrollbar {
  width: 0;
}

.message__inner {
  overflow-wrap: break-word;
  background: #dad2d2;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 300px;
  margin-bottom: 8px;
  padding: 6px;
  line-height: normal;
}

.user {
  justify-content: flex-end;
  max-width: 300px;
  display: flex;
}

.user__inner {
  background-color: #dad2d2;
}

.message__user {
  margin-right: 5px;
}

.message__time {
  text-align: right;
  color: #000;
  display: block;
}

.form {
  justify-content: space-between;
  padding: 0 5px;
  display: flex;
}

.form__input {
  border: 1px solid;
  min-width: 267px;
  min-height: 32px;
  padding: 6px;
  font-size: 16px;
}

.form__btn {
  background-color: #c79c80;
  border: 1px solid;
  border-radius: 5px;
  padding: 6px 8px;
}

.form__btn-inner {
  background-color: #c79c80;
  font-size: 16px;
}

.form__btn-link {
  background: #fff;
  border-radius: 5px;
}

.form__modal {
  justify-content: space-between;
  padding: 8px 0;
  display: flex;
}

.form__modal-input {
  border: 1px solid;
  min-width: 207px;
  min-height: 32px;
  margin-right: 10px;
  padding: 6px;
  font-size: 16px;
}

.form__modal-btn {
  border: 1px solid;
  padding: 6px 8px;
}

.form__modal-btn-inner {
  font-size: 16px;
}

.form__modal-btn-link {
  background: #fff;
}

.error__token {
  color: brown;
  margin-left: 70px;
  font-size: 16px;
}

.modal__box-theme {
  justify-content: space-around;
  margin-top: 20px;
  display: flex;
}

.modal__box-theme-btn {
  background-color: #cee5dd;
  border-radius: 6px;
  padding: 15px 25px;
  font-size: 16px;
}

.modal__box-theme-close {
  background-color: #c79c80;
  border-radius: 3px;
  padding: 15px 25px;
  font-size: 16px;
}

.section {
  border: 1px solid;
  border-radius: 3px;
  max-width: 100px;
  max-height: 533px;
  padding: 5px;
  overflow-y: auto;
}

.section::-webkit-scrollbar {
  width: 0;
}

.box__users {
  flex-direction: column;
  align-items: center;
  display: flex;
}

.box__users-btn {
  background-color: #c79c80;
  border: 1px solid;
  border-radius: 5px;
  margin: 3px 0;
  padding: 4px 2px;
  font-size: 12px;
}

.box__users-name {
  overflow-wrap: break-word;
  max-width: 88px;
  margin-bottom: 10px;
}

.btn__exit-theme-aqua {
  background-color: #cee5dd;
}

/*# sourceMappingURL=index.3a01df49.css.map */
